<!-- Header -->
<nav class="navbar navbar-expand-lg" style="background-color: rgb(23, 23, 23);" >
    <div class="container-fluid">
      <div class="sideMenu">
        <i class="bi bi-menu-button-wide sidebtn" style="cursor: pointer;" (click)="toggleSidenav()"></i>
      </div>
      <div class="header-logo">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/LogoCuceiBlanca.png" class="logo"> 
          <span class="titulo">BIBLIOTECA WEB</span>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="align-items: center; margin-right: 25px;">
          <li class="nav-item">
            <a class="nav-link" href="#">LIBROS</a>
          </li>
          <!-- DIBUJAR UNA LINEA DEBAJO AL HACER HOVER -->
          <li class="nav-item">
            <a class="nav-link" href="#">ALUMNOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CATEGORIAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRESTAMOS</a>
          </li>
          <!-- <div class="user-popup">
            <button class="circle-button" type="button">
              <i class="bi bi-person-circle userIcon"
                ngbPopover="CODIGO - NOMBRE ALUMNO "
                triggers="mouseenter:mouseleave"
                >
              </i>
            </button>         
          </div> -->
          
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="align-items: center; margin-right: 25px;">
          <!-- LOGUEADO -->
          <!-- <li class="nav-item" style="margin-right: 10px;">
            <a href="#" class="nav-link" style="font-size: 12px;">
              <span>216073466</span>
              <span> - </span>
              <span>Jonathan Alejandro Ponce Vazquez</span>
            </a>
          </li> -->

          <!-- DESLOGUEADO -->
          <li>
            <button type="button" class="btn">
              Iniciar sesión
            </button>
          </li>

          <li class="nav-item">
            <div class="separador"></div>
          </li>

          <li class="nav-item">
            <a href="#" style="margin-left: 15px;">
              <img src="../../../../assets/mochilaBlanca.png" class="mochila-img">
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<!-- Header -->


<!-- Contenido -->
<router-outlet></router-outlet>
<!-- Contenido -->


<!-- Footer -->
<div class="footer">
  <div class="footerContent">
    <p>CONTENIDO DEL FOOTER</p>
  </div>
</div>
<!-- Footer -->
